<head>
  <script> function openNav() {
      document.getElementById("hamburger").style.width="100%";
    }

    function closeNav() {
      document.getElementById("hamburger").style.width="0%";
    }
  </script>
</head>
<body>
  <header class="article">
    <div class="open-button" onclick="openNav()">&#9776</div>
    <nav id="hamburger" class="article-menu">
      <a href="javascript:void(0)" class="close-button" onclick="closeNav()">&times;</a>
      <ul>
        <li><a href="/published">Published</a></li>
        <li><a href="/unpublished">Unpublished</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
  </header>
