<head>
  <script> function openNav() {
      document.getElementById("hamburger").style.width="100%";
    }

    function closeNav() {
      document.getElementById("hamburger").style.width="0%";
    }
  </script>
</head>
<body>
  <header class="article">
    <div class="open-button" onclick="openNav()">
      <p>ME</p>
      <p>NU</p>
    </div>
    <nav id="hamburger" class="article-menu">
      <a href="javascript:void(0)" class="close-button" onclick="closeNav()">
        <p>CLO</p>
        <p>SE</p>
      </a>
      <a href="/about">
        <div class="about-menu">
          <p class="menu-sum">Who I am and how to contact me.</p>
          <p class="menu-label">About</p>
        </div>
      </a>
      <a href="/published">
        <div class="published-menu">
          <p class="menu-sum">Things judged worthy by someone aside from me.</p>
          <p class="menu-label">Published</p>
        </div>
      </a>
      <a href="/unpublished">
        <div class="unpublished-menu">
          <p class="menu-label">Unpublished</p>
          <p class="menu-sum">Blog posts, works in progress, and abandoned projects.</p>
        </div>
      </a>
      <a href="/">
        <div class="home-menu">
          <p class="menu-label">Home</p>
          <p class="menu-sum">Give up and go back to the start.</p>
        </div>
      </a>
    </nav>
  </header>
