@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Glegoo');

/* Universal styles and layout */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

/* Fancy hyperlinks */

.bio a,.content a, .preview a {
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
	position:relative;
  transition:0.5s color ease;
	text-decoration:none;
	color: rgb(255,0,0);
}

.bio a:hover, .content a:hover, .preview a:hover {
  color: gray;
}

.bio a:after, .content a:after, .preview a:after {
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
        backface-visibility:hidden;
  position:absolute;
  bottom: -.25em;
  height: .125em;
  width: 0;
  background: gray;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform:translateX(-50%);
}

.bio a:hover:after, .content a:hover:after, .preview a:hover:after {
  width: 100%;
}

/* Homepage styling */

.grid {
  display: grid;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "hero hero hero"
    "nav nav nav";
    "hero2 hero2 hero2"
  max-width: 1000px;
  margin: 20px;
  font-family: Glegoo;
  justify-items: center;
}

/* Header styling */

header {
  grid-area: header;
  justify-self: start;
  padding-bottom: 1rem;
}

header.landing h1{
  font-family: "Montserrat", serif;
  font-size: 2.25rem;
  text-transform: uppercase;
  display: inline-block;
  margin-right: .625rem;
}

header.landing h2{
  font-size: 1.375rem;
  font-family: "Glegoo", serif;
  text-transform: lowercase;
  display: inline-block;
}

.hero {
  grid-column: hero-start / hero-end;
  grid-row: hero-start / hero2-end;
  width: 100%;
  background: url("/assets/img/streetlight1.jpg") center center;
  background-size: cover;
  height: 40rem;
  clip-path: circle(40% at 50% 50%);
  justify-self: center;
}

nav.landing {
  grid-area: nav;
  justify-self: stretch;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  height: 3rem;
}

.menu li {
  flex-grow: 1;
  text-align: center;
  background: rgba(255, 0, 0, .5);
  list-style: none;
  transition: all .5s;
  padding: 2rem 0;
  clip-path: polygon(0% 0%, 33% 0%, 50% 0%, 66% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu li:hover {
  clip-path: polygon(0% 0%, 33% 0%, 50% 35%, 66% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.menu a {
  font-size: 1.625rem;
  line-height: 1.625rem;
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color ease .5s;
  position: relative;
}

.menu-link a:hover{
  color: rgb(217, 217, 217);
}

.menu-link a:before, .menu-link a:after {
  content: '';
  border-bottom: solid 2px rgba(0, 0, 0, .8);
  position: absolute;
  width: 0;
}

.menu-link a:before {
  bottom: 0;
}

.menu-link a:after {
  bottom: -4px;
}

.menu-link a:before { left: 0; }
.menu a:after { left: 0; }

.menu-link a:hover:before {
  width: 100%;
}

.menu-link a:hover:after {
  width: 75%;
}

.menu-link a:before, .menu-link a:after {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Article menu styling */

.open-button {
  position: fixed;
  width:10rem;
  height: 10rem;
  font-size: 2rem;
  text-align: center;
  vertical-align: center;
  line-height: 10rem;
  top: -3rem;
  left: -3rem;
}


.article-menu {
  background: rgba(255, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: .5s ease-in-out;
  z-index: 1;
  overflow-x: hidden;
  border: 1px solid red;
}

.article-menu ul {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  top: 25%;
  height: 100%;
  align-items: center;
}

.article-menu ul li {
  font-family: "Glegoo";
  font-size: 1.5rem;
  padding: 2rem 0;
  list-style: none;
  color: white;
  transition: .5s ease-in-out;
}

.close-button {
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  font-size: 5rem;
  color: white;
  text-decoration: none;
}

/* Article styles */

.page-menu {
  background: rgba(255, 0, 0, .8);
  position: fixed;
  top: 0;
  transition: top .5s ease-in-out;
  width: 100%;
  height: 3rem;
}

.page-menu ul {
  display: flex;
  flex-flow: row nowrap;
}

.page-menu ul li, .page-menu a {
  font-family: "Glegoo";
  font-size: 1.5rem;
  padding: .5rem 2rem;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  color: white;
  text-decoration: none;
}

.page-menu ul li.home {
  margin-left: auto;
}

.page-menu-hide {
  top: -3rem;
}

img.article-hero {
  width: 100%;
  padding-top: 3rem;
}

header.article h1 {
  font-family: Montserrat;
  font-size: 2rem;
  text-align: center;
  margin: 5rem 0 0 0
}

div.date {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
  margin: 3rem;
}

div.content {
  font-family: Glegoo;
  font-size: 1rem;
  line-height: 2rem;
  max-width: 50%;
  margin: 5rem auto 2rem auto;
}

.content p + p {
  margin-top: 2rem;
}

.content p:first-child:first-letter {
  font-size: 4rem;
  float: left;
  line-height: 3rem;
  padding-right: .5rem;
  margin-top: .75rem;
}

.content hr {
  margin: 1rem 0;
  width: 75%;
}

@media only screen and (max-width: 700px) {
  .menu a {
    font-size: 1.25rem;
  }

  div.content {
    max-width: 100%;
  }

  div.content p {
    padding: 0 1rem;
  }
}

/* About styling */

div.about-grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 80%;
  margin: 0 auto;
}

.author-photo {
  grid-column: 1 / span 3;
  grid-row: 1 / 1;
  max-width: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 70%), url(https://themhartman.files.wordpress.com/2015/06/matthartman.jpg) center center no-repeat;
  background-size: contain;
  height: 30rem;
}

.bio {
  grid-column: 3 / span 3;
  grid-row: 1 / 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

.bio p + p {
  margin-top: 1rem;
}

/* Archive styling */

.button-group {
  text-align: center;
  text-transform: uppercase;
  font-family: Montserrat;
}

.button-group a {
  background: none;
  border: none;
  font-size: 2rem;
  margin-top: 3rem;

}

.button-group span {
	position: relative;
	display: inline-block;
	padding: .25rem 1.5rem 0;
	background: red;
	box-shadow: inset 0 .25rem black;
	transition: background .6s;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
  color: white;
}

.button-group span::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: red;
	content: attr(data-hover);
	transform: rotateX(270deg);
	transition: transform .6s;
	transform-origin: 0 0;
}

.button-group a:hover span,
.button-group a:focus span {
	background: black;
}

.button-group a:hover span::before,
.button-group a:focus span::before {
	transform: rotateX(20deg);
}

.archive {
  margin: 0 auto;
  max-width: 80%;
  /*
  display: flex;
  flex-flow: row wrap;*/
}
/*
.preview {
  display:flex;
  flex-flow: column nowrap;
  max-width: 100%;
  padding: 1rem;
}*/

.preview {
  max-width: 300px;
}

.preview img {
  max-width: 100%;
}

.preview h2 {
  font-size: 1.25rem;
  font-family: Montserrat;
}

.preview p {
  font-family: Glegoo;
}

.preview p.type {
  font-family: Glegoo;
  font-size: .75rem;
  text-transform: capitalize;
  color: gray;
}

.grid {
  display: grid;
  margin: 0 auto;
  width: 80%;
 /* grid-template-areas:
    "top-left top-mid top-right"
    "bot-left bot-mid bot-right";
  font-family: Glegoo;
  align-items: start;
  justify-items: center;
  grid-gap: 15px;*/
}

.feat {
  max-width: 100%;
  display:flex;
  flex-flow: column nowrap;
  padding: 1rem;
}
/*
.top-left {
  grid-area: top-left;
}

.top-mid {
  grid-area: top-mid;
}

.top-right {
  grid-area: top-right;
}*/

.feat-head {
  max-width: 100%;
}

.feat-type a {
  font-weight: bold;
}
/*
@media only screen and (max-width: 768px) {
  ul.menu {
    -webkit-flex-flow: column;
    flex-flow:column;
    justify-content:flex-start;
    align-items:flex-end;
    padding: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .subtitle {
    font-size: 20px;
    display: inline-block;
  }
}
*/
