<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <title>Commonplace Radical</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-58750204-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-58750204-3');
</script>

</head>
<body>
  <nav class="landing">
      <ul class="menu">
          <li><div class="menu-link"><a href="/about">About</a></div></li>
          <li><div class="menu-link"><a href="/published">Published</a></div></li>
          <li><div class="menu-link"><a href="/unpublished">Unpublished</a></div></li>
      </ul>
  </nav>
  <div class="herocontain">
      <img src="http://themhartman.com/assets/img/graffititower.gif" class="hero">
          <svg width="0" height="0">
            <defs>
              <clipPath id="organic" viewBox="0 0 878.03 796.97" clipPathUnits="objectBoundingBox" transform="scale(0.0011389 0.001255)">
                <path fill="#FFFFFF" stroke="#000000" stroke-width="2" d="M413.362,703.424c29.229-80.846,32.014-193.69,89.564-275.939,62.524-89.36,159.351-136.991,274.764-146.9,94.484-8.115,256.4,10.6,358.26,162.784,45.18,67.508,116.85,215.714,83.49,395.05-10.88,58.5-43.39,177.264-119.93,222.344-41.08,24.19-137.559,22.01-261.1-65.516-87.951-62.309-129.479-129.157-195.826-119.11-73.213,11.087-96.106,104.893-176.092,111.17-40.439,3.173-89.792-16.14-107.78-59.555C335.96,872.835,375.322,808.64,413.362,703.424Z" transform="translate(-351 -278)"/>
              </clipPath>
            </defs>
          </svg>
  </div>
      <div class="titlepos">
          <h1>Commonplace Radical</h1>
          <h2>Writings by Matt Hartman</h2>
      </div>
</body>
</html>
