<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <title>Commonplace Radical</title>
</head>
<body>
  <div class="grid">
    <header class="landing">
      <h1>Commonplace Radical</h1><h2>Writings by Matt Hartman</h2>
    </header>
    <div class="hero"></div>
      <nav class="landing">
        <ul class="menu">
          <li><div class="menu-link"><a href="/published">Published</a></div></li>
          <li><div class="menu-link"><a href="/unpublished">Unpublished</a></div></li>
          <li><div class="menu-link"><a href="/about">About</a></div></li>
        </ul>
       </nav>
  </div>
</body>
</html>
